@tailwind base;
@tailwind components;
@tailwind utilities;


h1,h2{
	  font-family: "Playfair Display", serif;;
}

p{
font-family: "Public Sans", sans-serif
}

.life{
	  font-family: "Caveat", cursive
}

.uewBackground {
	background-image: url("./Icons/dji_0972_sm_sm.jpg");
	background-position: center;
	background-size: cover;
	display: block;
}
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70%;
	transform: translateY(100%);
	transition: transform 0.4s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
} 

.uewBackground:hover .overlay {
	transform: translateY(0);
}

.aamustedBackground {
	background-image: url("./Icons/AAMUSTED-Full-shot.jpeg");
	background-position: center;
	background-size: cover;
}

.z{
	z-index: 100;
}

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}
